<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/courthome">Home</a><br>
    <a href="/Viewcrime">Request Evidence</a>
</body>
</html> -->

{% include 'court_header.html' %}

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1><p class="animate__animated animate__fadeInDown">ForenSecure</p></h1>
      <h2><p class="animate__animated animate__fadeInUp">We provide platform that ensures compliance with legal standards and regulations regarding the protection and handling of forensic evidence,thereby upholding the integrity and admissibility of evidence in court.</p></h2>   
         <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
    </div>
  </section><!-- End Hero -->
  <br><br><br><br><br><br><br>
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose ForenSecure?</h3>
            <p>
              Dual encryption for forensic evidence security ensures heightened protection through the simultaneous use of two encryption methods, fortifying data integrity and confidentiality against potential breaches and tampering.
            </p>
            <div class="text-center">
              <!-- <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-fingerprint"></i>
                  <h4><b>Enhanced Security</b></h4>
                  <p>Implementing dual encryption to bolster the security of forensic evidence, mitigating the risk of unauthorized access, tampering, or data breaches.
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-fingerprint"></i>
                  <h4><b>Maintaining Data Integrity</b></h4>
                  <p>Ensuring the integrity of forensic evidence throughout its lifecycle, from collection to presentation in legal proceedings, by employing robust encryption mechanisms.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-fingerprint"></i>
                  <h4><b>Facilitating Trust and Credibility</b></h4>
                  <p>Fostering trust and credibility in forensic investigations and legal proceedings by employing advanced encryption techniques to safeguard the integrity and authenticity of evidence.</p>
                </div>
              </div>
            </div> 
          </div> <!--End .content-->
         </div>
      </div>

    </div>
  </section><!--End Why Us Section-->

  <br><br><br><br><br><br><br><br>

{% include 'footer.html' %}