{% include 'staff_header.html' %} 
 <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1><p class="animate__animated animate__fadeInDown">ForenSecure</p></h1>
        <h2><p class="animate__animated animate__fadeInUp">The platform provides features that maintains the integrity of forensic evidence, preventing any unauthorized modifications, alterations, or tampering during storage, transmission, or analysis.</p></h2>
      <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a>  -->
     </div>
  </section><!--End Hero  -->
   <br><br><br><br><br><br><br><br><br><br><br>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <th>Hair fiber</th>
                <td><input type="text" name="hairfib" id=""></td>
            </tr>
            <tr>
                <th>dia medu</th>
                <td><input type="text" name="diamedu" id=""></td>
            </tr>
            <tr>
                <th>dia hair</th>
                <td><input type="text" name="diahair" id=""></td>
            </tr>
            <tr>
                <th>Which part</th>
                <td><input type="text" name="whpart" id=""></td>
            </tr>
            <tr>
                <th>pre-barr bodies</th>
                <td><input type="text" name="prebarrbody" id=""></td>
            </tr>
            <tr>
                <th>Animal or Human</th>
                <td><input type="text" name="aniorhu" id=""></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td><input type="radio" name="gender" value="male">Male <input type="radio" name="gender" value="female">Female</td>
            </tr>
            <tr>
                <td><input type="submit" name="hairsubmit" id=""></td>
            </tr>
        </table>
    </form>
</body>
</html> -->

<html lang="tr">

<head>


    <style>
         body{
            background-image: url("");
            background-size: cover;
            background-repeat: no-repeat;
        } 
    </style>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Bootstrap 4 Register Form</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <form class="form-horizontal" role="form" method="POST">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2><b>Hairtest</b></h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                <b><label for="text">Hair Fibre</label></b>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <!-- <div class="input-group-addon" style="width: 2.6rem">
                                <i class="fa fa-user"></i>
                            </div> -->
                            <input type="text" name="hairfib" class="form-control" id="name" placeholder="" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                <b><label for="name">Dia medu</label></b>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <!-- <div class="input-group-addon" style="width: 2.6rem">
                                <i class="fa fa-user"></i>
                            </div> -->
                            <input type="text" name="diamedu" class="form-control" id="name" placeholder="" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                <b><label for="name">Dia hair</label></b>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <!-- <div class="input-group-addon" style="width: 2.6rem">
                                <i class="fa fa-user"></i>
                            </div> -->
                            <input type="text" name="diahair" class="form-control" id="surname" placeholder="" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                <b><label for="name">Which part</label></b>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <!-- <div class="input-group-addon" style="width: 2.6rem">
                                <i class="fa fa-user"></i>
                            </div> -->
                            <input type="text" name="whpart" class="form-control" id="surname" placeholder="" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                <b><label for="name">Pre barr bodies</label></b>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <!-- <div class="input-group-addon" style="width: 2.6rem">
                                <i class="fa fa-user"></i>
                            </div> -->
                            <input type="text" name="prebarrbody" class="form-control" id="surname" placeholder="" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                <b><label for="name">Animal or Human</label></b>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <!-- <div class="input-group-addon" style="width: 2.6rem">
                                <i class="fa fa-user"></i>
                            </div> -->
                            <input type="text" name="aniorhu" class="form-control" id="surname" placeholder="" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                <b><label for="gender">Gender</label></b>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <!-- <div class="input-group-addon" style="width: 2.6rem">
                                <i class="fa fa-user"></i>
                            </div> -->
                            Male<input type="radio" name="gender" value="male" class="form-control" id="surname">Female<input type="radio" name="gender" value="female" class="form-control" id="surname">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" id="button"  name="hairsubmit" class="btn btn-success">
                        <i class="fa fa-user-plus"></i>Submit</button>
                   
                </div>

            </div>
        </form>
    </div>
</body>

<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Register Date</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table> -->

<script src="script.js"></script>

</html>

<script>
    var userList = [];

var config = {
    date: {
        day: "2-digit",
        year: "numeric",
        month: "long",
        hour: "numeric",
        minute: "2-digit"
    }
}

var generateGUID = () => {
    var s4 = () => {
        return Math.floor((1 + Math.random()) * 0x10000)
            .toString(16)
            .substring(1);
    }
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
}

var generateRow = user => `<tr>
        <td>
        ${user.name}
        </td>
        <td>
        ${user.surname}
        </td>
        <td>
        ${user.email}
        </td>
        <td>
        ${user.username}
        </td>
        <td>
        ${user.createDate.toLocaleDateString("tr", config.date)}
        </td>
        <td>
            <button data-user="${user.id}" class="del">Del</button>
            <button data-user="${user.id}" class="edit">Edit</button>
        </td>
    </tr>`;



$("#button").click(() => {
    let user = {
        name: $('#name').val(),
        surname: $('#surname').val(),
        email: $('#email').val(),
        username: $('#username').val(),
        createDate: new Date(),
        id: generateGUID()
    };

    userList.push(user);

    let row = $(generateRow(user));

    $(row).find(".del").click(function () {
        if (window.confirm("Do you really want to delete?")) {
            $(row).remove();
        }
    });

    $(row).find(".edit").click(function () {
        $("#edit").show();
        $("#button").hide();
    });



    $('tbody').append(row);

});



</script>
<br><br><br><br>
<center>
    <!-- <h1 id="uw"><b>Hairtest Evidence</b></h1><br><br> -->
    <table border="1" class="table table-bordered">
    <thead class="table-info">
    <tr>
        <th>Slno</th>
        <th>Hair fibre</th>
        <th>Dia_medu</th>
        <th>Dia_hair</th>
        <th>Which part</th>
        <th>Prebarr bodies</th>
        <th>Animal or Human</th>
        <th>Gender</th>
        
    </tr>
    </thead>
    {%for i in data['viewhair']%}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{i['hair_fiber']}}</td>
        <td>{{i['dia_medu']}}</td>
        <td>{{i['dia_hair']}}</td>
        <td>{{i['which_part']}}</td>
        <td>{{i['pre_barr_bodies']}}</td>
        <td>{{i['animal_or_human']}}</td>
        <td>{{i['gender']}}</td>
         </tr>
    {%endfor%}
</table>
</center>

<br><br><br><br><br><br><br>

{%include 'footer.html'%}